@use '../utils/functions' as *;

$color-primary: #211c52;
$color-secondary: #6150e1;
$color-text: #000000;
$color-bg: #FFFFFF;

$color-success: #2d8647;
$color-dark: #000000;
$color-light: #FFFFFF;
$color-error: #ff0000;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px; 