@use '../utils/functions' as *;

$color-primary: #7BB899;
$color-text: #000000;
$color-bg: #FFFFFF;
$color-dark: #000000;
$color-light: #FFFFFF;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px; 